﻿@model IEnumerable<SignOUT.Models.UsersViewModels.IndexViewModel>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @string.Format("{0} {1}", item.FirstName, item.LastName)
            </td>
            <td>
                @item.Email
            </td>
        </tr>
    }
</table>