﻿@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-route="change-password" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-route="set-password" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count <a asp-route="manage-logins" class="btn-bracketed">Manage</a>
        </dd>
    </dl>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                @string.Format($"{Model.User.FirstName} {Model.User.LastName}")
                            </h4>
                            <small>
                                <cite>
                                    @if (Model.User.City != null)
                                    {
                                        @Model.User.City
                                    }
                                    @if (Model.User.Country != null)
                                    {
                                        @Model.User.Country
                                    }
                                    @if (Model.User.Adress != null)
                                    {
                                        @Model.User.Adress
                                    }
                                    @if (Model.User.PostCode != null)
                                    {
                                        @Model.User.PostCode
                                    }
                                    <i class="glyphicon glyphicon-map-marker">
                                    </i>
                                </cite>
                            </small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>@Model.User.Email
                                <br/>
                                @if (Model.User.FacebookId != null)
                                {
                                   <i class="glyphicon glyphicon-globe"></i><a target="_blank" href="http://www.facebook.com/@Model.User.FacebookId">Facebook</a>
                                }
                                <br />
                            <i class="glyphicon glyphicon-gift"></i>
                                @if (Model.User.Birthday != null)
                                    {
                                        @Model.User.Birthday.ToString("dd/MM/yyyy")
                                    }
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
